* {
  font-family: Nunito, sans-serif;
}

body {
  font-size: 1.1em;
}

.container {
  width: 60%;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 4em 5em;
}

h1 {
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 1em;
}

.primary {
  font-size: 52px;
  font-weight: normal;
} 

.secondary {
  color: aquamarine;
  font-size: 28px;
  font-weight: normal;
}

button {
  height: 50px;
  font-family: sans-serif;
  margin-bottom: 2em;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0 2.5em;
  margin-right: 1em;
}

.in-person {
  background: #cf6fd8;
  border: 1px solid #cf6fd8;
}
